* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(216, 210, 210);
  height: 100vh;
  width: 100vw;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* background-color: black; */
  width: 20em;
  height: 20em;
}

.calculator header {
  display: flex;
  justify-content: flex-start;

  height: 6em;
  background-color: #363636;
}

.calculator header input {
  width: 100%;
  outline: none;
  font-size: 2em;
  background-color: #363636;
  padding: 0.25em;
  border: none;
  color: #fff;
}

.calculator .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 15em;
}

.calculator .numbers {
  width: 60%;
  height: 100%;
}

.calculator .numbers ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.calculator .numbers li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 80px;
  color: #fff;
  list-style: none;
  cursor: pointer;
}

.calculator .numbers li:hover {
  background-color: #4F4F4F;
}

.calculator .operators {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: darkblue;
  height: 100%;
  width: 40%;
}

.calculator .operators ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0.25em;
  width: 100%;
}

.calculator .operators li {
  list-style: none;
  color: #fff;
  font-size: 2em;
  padding: 0.02em;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.calculator .operators li:hover {
  background-color: #a8a3a3;
}


